.todos {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;

  .title {
    margin-bottom: 30px;
    color: var(--main-color);
    font-weight: 300;
    font-size: 36px;

    @media screen and (max-width: 670px) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .block {
    box-shadow: 0 0 5px var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}